.container {
    display: flex;
    flex-direction: row;
}

.middle-row {
    justify-content: center;
}
.middle-text {
    display:flex;
    justify-content: center;
}

.left-side {
    display: flex;
    justify-content: start;
}

#calendar-position {
    width: 400px;
    display: inline-block;
}

.right-side {
    display: flex;
    justify-content: end;
}
.scale {
    display: flex;
    justify-content: end;
    align-content: start;
}
