<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="icon" type="image/x-icon" href="/Images/favicon.svg">
</head>
<body>
<form th:action="'/edit-events/' + ${event.getId()}" method="post">

    <label>Post Title:</label>
    <input name="title" type="text" th:value="${event.getTitle()}">

    <label>Post Body:</label>
    <input name="body" type="text" th:value="${event.getDescription()}">

    <button type="submit">Submit</button>
</form>
</body>
</html>