<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="/CSS/loginForm.css">
  <link rel="stylesheet" href="/CSS/loggedOutNav.css">


  <link rel="icon" type="image/x-icon" href="/Images/favicon.svg">


</head>
<body>
<!--navbar starts-->
<header th:replace="~{partials :: header-three}"></header>
<!--navbar ends-->


<!--login form starts-->
<div id="login-form" class="login-page">
  <div class="form-box">
    <div class="button-box">
      <h3>Welcome Back!</h3>
    </div>
    <form id="login" class="input-group-login" th:action="@{/login}" method="post">
      <input name="username" type="text" class="input-field" placeholder="Username" required>
      <input name="password" type="password" class="input-field" placeholder="Password" required>
      <button type="submit" class="submit-btn">Log In</button>
    </form>
  </div>
</div>

<!--login form ends-->



</body>
</html>