<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/CSS/footer.css">
    <link rel="stylesheet" href="/CSS/loggedInNav.css">
    <link rel="stylesheet" href="/CSS/loggedOutNav.css">
    <link rel="stylesheet" href="/CSS/main.css">
    <link rel="stylesheet" href="/CSS/MoodScale.css">


    <link rel="icon" type="image/x-icon" href="/Images/favicon.svg">


    <title>Default Head</title>
</head>


<body>
<!------------------------------Logged Out Nav Starts--------------------------------->
    <header th:fragment="header-one">
        <a class="logo" href="/"><img class="logo" src="/Images/LOGOV.png" alt="logo"></a>
        <nav>
            <ul class="nav_links">
                <li><a class="anchors" href="#about" id="about">About</a></li>
                <li><a class="anchors" href="#features" id="features">Features</a></li>
                <li><a class="anchors" href="#team" id="team">Our Team</a></li>
                <!--            <li><a class="login" href="#"><button class="login-btn" onclick="document.getElementById('login-form').style.display='block'" style="width: auto">Login</button></a></li>-->
                <li><a class="login" href="/login">

                    <button class="login-btn nav-btn">Login</button>
                </a></li>
                <li><a class="sign-up" href="/signup">
                    <button class="register-btn nav-btn" >Get Started</button>
                </a></li>
            </ul>
        </nav>
    </header>

<!------------------------------Logged Out Nav Ends--------------------------------->



<!------------------------------Logged In Nav Starts--------------------------------->

    <header th:fragment="header-two">
        <img class="logo" src="/Images/LOGOV.png" alt="logo">
        <nav>
            <ul class="nav_links">
                <li><a class="anchors" href="/">Home</a></li>
                <!--            <li><a class="anchors" href="#">About</a></li>-->
                <!--            <li><a class="anchors" href="/"></a></li>-->
                <!--            <li><a class="anchors" href="#">Settings</a></li>-->


                <li><a class="log-out" th:href="@{/logout}"><button class="logout-btn nav-btn" >Log Out</button></a></li>



            </ul>
        </nav>
    </header>

<!------------------------------Logged In Nav Ends--------------------------------->




<!------------------------------navbar for login starts--------------------------------->
<header th:fragment="header-three">
    <a class="logo" href="/"><img class="logo" src="/Images/LOGOV.png" alt="logo"></a>
    <nav>
        <ul class="nav_links">

            <li><a class="sign-up" href="/signup">
                <button class="register-btn nav-btn">Get Started</button>
            </a></li>
        </ul>
    </nav>
</header>
<!------------------------------navbar for login ends--------------------------------->



<!------------------------------navbar for register starts--------------------------------->
<header th:fragment="header-four">
    <a class="logo" href="/"><img class="logo" src="/Images/LOGOV.png" alt="logo"></a>
    <nav>
        <ul class="nav_links">

            <li><a class="login" href="/login">
                <button class="register-btn nav-btn" >Login</button>
            </a></li>
        </ul>
    </nav>
</header>
<!------------------------------navbar for register ends--------------------------------->



<!------------------------------Med Tracker Starts--------------------------------->
    <div th:fragment="medTracker" class="medTracker" id="medTracker">
        <h1>Medication Tracker</h1>
<!--        <form th:action="@{/trackMedication}" th:method="post">-->
<!--            <label for="taken">Took Medication</label>-->
<!--            <input type="radio" id="taken" name="taken" value="true">-->
<!--            <label for="notTaken">Did Not Take Medication</label>-->
<!--            <input type="radio" id="notTaken" name="taken" value="false">-->
<!--            <input type="submit" value="Submit">-->
<!--        </form>-->
        <table>
            <tr>
                <th>Date</th>
                <th>Took Medication</th>
            </tr>
            <tr th:each="trackMedication : ${trackMedications}">
                <td th:text="${trackMedication.date}"></td>
                <td th:text="${trackMedication.taken}"></td>
        </table>
    </div>
<!------------------------------Med Tracker Ends--------------------------------->



<!------------------------------Med List Starts--------------------------------->
    <div th:fragment="medList" class="medList" id="medList">
        <h1>Medication List</h1>
        <table>
            <tr>
                <th>Medication Name</th>
                <th>Medication Dosage</th>
                <th>Medication Frequency</th>
                <th>Medication Start Date</th>
                <th>Medication End Date</th>
                <th>Medication Notes</th>
                <th>Medication Status</th>
                <th>Medication Edit</th>
                <th>Medication Delete</th>
            </tr>
            <tr th:each="med : ${meds}">
                <td th:text="${med.medicationName}"></td>
                <td th:text="${med.medicationDosage}"></td>
                <td th:text="${med.medicationFrequency}"></td>
                <td th:text="${med.medicationStartDate}"></td>
                <td th:text="${med.medicationEndDate}"></td>
                <td th:text="${med.medicationNotes}"></td>
                <td th:text="${med.medicationStatus}"></td>
                <td>
                    <form th:action="@{/editMedication}" th:method="post">
                        <input type="hidden" th:name="id" th:value="${med.id}">
                        <input type="submit" value="Edit">
                    </form>
                </td>
                <td>
                    <form th:action="@{/deleteMedication}" th:method="post">
                        <input type="hidden" th:name="id" th:value="${med.id}">
                        <input type="submit" value="Delete">
                    </form>
                </td>
            </tr>
        </table>
    </div>
<!------------------------------Med List Ends--------------------------------->



<!------------------------------Mood Scale Starts--------------------------------->
    <div th:fragment="moodScale" class="moodScale" id="moodScale">




        <h1>moodScale</h1>
           <form id="mood" th:action="@{/mood}" th:object="${mood}" method="post" oninput="val.value = parseInt(range.value)">
            <div class="form-group" id="moodDiv">

                <label for="range">How are you feeling?</label><br>
                <img src="/Images/mood-icon.png" id="faces" class="faces">


                <input type="range" min="1" max="10" value="0" class="form-control-range" id="range" step="1" list="ticks"
                       name="value">
                <output class="output" name="val" for="range"></output>
                <datalist id="ticks">
                    <option value="1"></option>
                    <option value="2"></option>
                    <option value="3"></option>
                    <option value="4"></option>
                    <option value="5"></option>
                    <option value="6"></option>
                    <option value="7"></option>
                    <option value="8"></option>
                    <option value="9"></option>
                    <option value="10"></option>
                </datalist>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>

        </form>
    </div>
<!------------------------------Mood Scale Ends--------------------------------->



<!------------------------------Pending Users Starts--------------------------------->
    <div th:fragment="pendingUsers" class="pendingUsers" id="pendingUsers">
        <h1 style="text-align: center">Pending Users</h1>
        <table>
            <tr>
                <th>Username</th>
                <th>Role</th>
                <th>Approve</th>
                <th>Deny</th>
            </tr>
            <tr th:each="user : ${pendingUsers}">
                <td th:text="${user.username}"></td>
                <td th:text="${user.isProvider}"></td>
                <td>
                    <form th:action="@{/approval}" th:method="post">
                        <input type="hidden" th:name="id" th:value="${user.id}">
                        <input type="hidden" th:name="isApproved" th:value="true">
                        <input type="submit" value="Approve">
                    </form>
                </td>
                <td>
                    <form th:action="@{/approval}" th:method="post">
                        <input type="hidden" th:name="id" th:value="${user.id}">
                        <input type="hidden" th:name="isApproved" th:value="false">
                        <input type="submit" value="Deny">
                    </form>
                </td>
            </tr>
        </table>
    </div>
    <!------------------------------Pending Users Ends--------------------------------->

</body>

<div th:fragment="footer" class="footer">

    <a class="anchors" id="footer" href="#top">Back to top of page</a>
    <!--We can add links and an about us for a nice to have-->
    <footer> Copyright &copy; 2023 Mind-Matters</footer>
</div>

<!--provider dashboard patient overview-->
<!--<table th:fragment="patient-overview">-->
<!--    <caption class="patient-overview" style="margin: 0"><h1>Patient Overview</h1></caption>-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <th>Patient</th>-->
<!--        <th>Events</th>-->

<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr th:each="patient : ${patients}">-->
<!--        <td th:text="${patient.username}"></td>-->
<!--        <div th:each="event : ${patient.events}">-->
<!--            <td th:text="${event.title}"></td>-->
<!--            <td th:text="${event.description}"></td>-->
<!--            &lt;!&ndash;            change into a link to expand on multiple events&ndash;&gt;-->
<!--        </div>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--</table>-->
<table th:fragment="patient-overview">
    <caption class="patient-overview" style="margin: 0"><h1>Patient Overview</h1></caption>
    <thead>
    <tr>
        <th>Patient</th>
        <th>Events</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="patient : ${patients}">
        <td th:text="${patient.username}"></td>
        <td>
          <div th:each="event : ${patient.events}" >
           <strong><span th:text="${event.title} + ' : ' "></span></strong>
              <span th:text="${event.description}"></span>
                <br/>
            </div>
        </td>
    </tr>
    </tbody>
</table>

</html>