<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:fragment="header-one">
    <a class="logo" href="/home"><img src="/resources/Images/LOGO2.png" alt="logo"></a>
    <nav>
        <ul class="nav_links">
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a class="login" href="#"><button class="login-btn" onclick="document.getElementById('login-form').style.display='block'" style="width: auto">Login</button></a></li>
            <li><a class="sign-up" href="#"><button class="register-btn" >Get Started</button></a></li>
        </ul>
    </nav>
</header>

<header th:fragment="header-two">
    <img class="logo" src="/src/main/resources/Images/LOGO2.png" alt="logo">
    <nav>
        <ul class="nav_links">
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a class="log-out" href="#"><button class="logout-btn" >Log out</button></a></li>
        </ul>
    </nav>
</header>

<h2 th:fragment="h2">i am a fragment</h2>
</body>
</html>