<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="partials :: head">
    <meta charset='utf-8'/>
    <title>Patient Dashboard</title>



</head>
<body>
<!--navbar starts-->
<header th:replace="partials :: header-two"></header>
<!--navbar ends-->


<!--calender starts-->
<div class="container">
    <div class="middle-row">
        <h1 class="middle-text">Hello XYZ</h1>
        <h2 class="right-side">Provider Info</h2>
        <form th:action="@{/submit-event}" th:method="post" id="event-form" name="event-form">
            <label for="date">Enter the date</label>
        <input type="date" name="date" id="date" >
            <label for="title">Enter the title of the event below</label>
            <input type="text" name="title" id="title">
            <label for="description">Enter the event description below</label>
            <input type="text" name="description" id="description">

            <!-- Category checkboxes-->
            <h3 id="categoryLabel">Select the category of the event</h3>
            <input id="category1" value="1" name="categories" type="checkbox">
            <label for="category1">Default</label>
            <input id="category2" value="2" name="categories" type="checkbox">
            <label for="category2">Work</label>
            <input id="category3" value="3" name="categories" type="checkbox">
            <label for="category3">Outdoors</label>
            <input id="category4" value="4" name="categories" type="checkbox">
            <label for="category4">Social</label>
            <input id="category5" value="5" name="categories" type="checkbox">
            <label for="category5">Exercise</label>
            <input id="category6" value="6" name="categories" type="checkbox">
            <label for="category6">Education</label>
            <input id="category7" value="7" name="categories" type="checkbox">
            <label for="category7">Hobbies</label>
            <input id="category8" value="8" name="categories" type="checkbox">
            <label for="category8">Chores</label>
            <input id="category9" value="9" name="categories" type="checkbox">
            <label for="category9">Recreation</label>
            <input id="category10" value="10" name="categories" type="checkbox">
            <label for="category10">On Screens</label>
            <input type="submit" value="Submit" id="submit">

            <!--<input type="submit" value="Submit" th:onclick="addToDB()" id="submit">-->
        </form>
    </div>
</div>
<a href="/my-events"><button>Edit My Events</button></a>
<div id="calendar-position"></div>
<div id="calendar"></div>
<!--calendar ends-->


<!-- hidden calendar event submit form-->
    <form id="calendar-event-to-db" th:action="@{/submit-event}" th:method="post" style="display: none">
        <input name="title" id="titleDb" >
        <input name="description" id="descriptionDb">
        <input name="date" id="dateDb">
        <input name="categoryDB1" id="categoryDB1" type="checkbox" checked>
        <input name="categoryDB2" id="categoryDB2" type="checkbox" checked>
        <input name="categoryDB3" id="categoryDB3" type="checkbox">
        <input name="categoryDB4" id="categoryDB4" type="checkbox">
        <input name="categoryDB5" id="categoryDB5" type="checkbox">
        <input name="categoryDB6" id="categoryDB6" type="checkbox">
        <input name="categoryDB7" id="categoryDB7" type="checkbox">
        <input name="categoryDB8" id="categoryDB8" type="checkbox">
        <input name="categoryDB9" id="categoryDB9" type="checkbox">
        <input name="categoryDB10" id="categoryDB10" type="checkbox">
    </form>



<!--med tracker starts-->
<div th:replace="~{partials :: medTracker}"></div>
<!--med tracker ends-->


<!--mood scale starts-->
<div th:replace="~{partials :: moodScale}"></div>
<!--mood scale ends-->



<h1 id="MoodChart">Mood Chart</h1>
<div id="mood_over_time_chart"></div>

<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.1/index.global.min.js'></script>
<script type="text/javascript" th:inline="javascript" <!--th:src="@{/js/calendar-io.js}-->">
    function submitToDB(date, title, description) {
    // invisible form to submit to db
    document.getElementById("titleDb").value = title;
    document.getElementById("descriptionDb").value = description;
    document.getElementById("dateDb").value = date;
    document.getElementById("calendar-event-to-db").submit();
}

//API CODE STARTS HERE
document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridMonth',
        initialDate: '2023-02-08',
        selectable: true,
        editable: true,
        height: 450,
        dayMaxEvents: true,
        headerToolbar: {
            left: 'title,prev,next',
            center: 'addEventButton',
            right: 'dayGridMonth,timeGridWeek,timeGridDay'
        },
        customButtons: {
            addEventButton: {
                text: 'submit event',
                click: function() {

                    // var dateStr = prompt('Enter a date in YYYY-MM-DD format');
                    var dateStr = document.getElementById('date').value;
                    // var title = prompt('Enter a date in YYYY-MM-DD format');
                    var title = document.getElementById('title').value;
                    var description = document.getElementById("description").value;
                    var date = new Date(dateStr + 'T00:00:00');// will be in local time
                    var eventForm = document.getElementById("eventForm");
                    submitToDB(date, title, description);

                    /*                    if (!isNaN(date.valueOf())) { // valid?
                                            calendar.addEvent({
                                                title: title,
                                                start: date,
                                                allDay: true
                                            });
                                            alert('Great. Now, update your database...');
                                        } else {
                                            alert('Invalid date.');
                                        }*/
                }
            }
        }

    });

    // populate calendar with events from db
    let events = /*[[${events}]]*/;
    events.forEach(function(event) {
        calendar.addEvent({
            title: event.title,
            start: event.date,
            allDay: true
        });
    });
    calendar.render();
});
</script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script th:replace="~{charts :: moodOverTime}"></script>
<footer th:replace="partials :: footer"></footer>
</body>
</html>
