<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="/Images/favicon.svg">
    <link rel="stylesheet" href="/CSS/footer.css">
    <link rel="stylesheet" href="/CSS/loggedInNav.css">
    <link rel="stylesheet" href="/CSS/loggedOutNav.css">
    <link rel="stylesheet" href="/CSS/main.css">
    <title>Default Head</title>
    <meta charset="UTF-8">
    <title>Provider Dashboard</title>
  <link rel="stylesheet" href="../CSS/main.css">
</head>
<body>
<header th:replace="partials :: header-two"></header>

<div th:replace="partials :: pendingUsers">
</div>
<div th:replace="partials :: patient-overview"></div>
<footer th:replace="partials :: footer"></footer>
</body>

</html>