<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Sign Up</title>
</head>
<body>
<h1>Sign Up</h1>
<form th:action="@{/signup}" th:method="post" th:object="${user}">

  <label for="username">Username:</label>
  <input type="text" id="username" name="username" >
  <br><br>
  <label for="password">Password:</label>
  <input type="password" id="password" name="password" >
  <br><br>
  <label for="provider">Choose a provider:</label>

  <select name="provider" id="provider" >
    <option value="" th:each="provider : ${providers}"><span th:text="${provider.getUsername}"></span></option>
  </select>
<!--  nice to have password confirmation-->
  <label for="ispatient">Patient</label>
  <input type="radio" id="ispatient" name="ispatient" value="false" >
  <label for="isProvider">Provider</label>
  <input type="radio" id="isProvider" name="isProvider" value="true" ><br>
  <input type="submit" value="Submit">
</form>
</body>
</html>