<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Sign Up</title>
</head>
<body>
<h1>Sign Up</h1>
<form th:action="@{/signup}" th:method="post" th:object="${user}">

  <label for="username">Username:</label>
  <input type="text" id="username" name="username" th:field="*{username}">
  <br><br>
  <label for="password">Password:</label>
  <input type="password" id="password" name="password" th:field="*{password}">
  <br><br>
<!--  nice to have password confirmation-->
  <!-- checkbox for isProvider instead of radio buttons-->
  <label for="patient">Patient</label>
  <input type="radio" id="patient" name="provider" value="false" th:field="*{isProvider}">
  <label for="provider">Provider</label>
  <input type="radio" id="provider" name="provider" value="true" th:field="*{isProvider}"><br>
  <input type="submit" value="Submit">
</form>
</body>
</html>