<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Sign Up</title>
</head>
<body>
<h1>Sign Up</h1>
<form>

  <label for="username">Username:</label>
  <input type="text" id="username" name="username">
  <br><br>
  <label for="password">Password:</label>
  <input type="password" id="password" name="password">
  <br><br>
<!--  nice to have password confirmation-->
  <label for="patient">Patient</label>
  <input type="radio" id="patient" name="is-provider" value="false">
  <label for="provider">Provider</label>
  <input type="radio" id="provider" name="is-provider" value="true"><br>
  <input type="submit" value="Submit">
</form>
</body>
</html>